@font-face {
  font-family: "QuicksandR";
  src: url(/_next/static/fonts/Quicksand-Regular-3ce1580b66db6742cecd4b41519fb5f1.otf); }

@font-face {
  font-family: "MyriadProRegular";
  src: url(/_next/static/fonts/MyriadProRegular-7ac043ce58c2e61adcf7ebac9625d31b.ttf); }

@font-face {
  font-family: "MyriadProBoldCond";
  src: url(/_next/static/fonts/MyriadPro-BoldCond-3ea81583b29f67fc449bfd818c892747.otf); }

@font-face {
  font-family: "MyriadProSemiBold";
  src: url(/_next/static/fonts/MyriadPro-SemiBold-86bb1295004f3fbe40abef46553807f5.otf); }

@font-face {
  font-family: "OpenSansSemiBold";
  src: url(/_next/static/fonts/OpenSans-Semibold-33f225b8f5f7d6b34a0926f58f96c1e9.ttf); }

body {
  max-width: auto;
  margin: 0px auto !important;
  font-size: 18pt;
  font-family: MyriadProRegular; }
  body .color-orange {
    color: #d38148; }
  body .color-blue {
    color: #058bca; }
  body .color-white {
    color: #fff; }
  body .top-header {
    background-repeat: repeat-x;
    height: 46px;
    background-size: cover; }
  body .banner-content {
    background-size: cover;
    height: 190px; }
    @media (max-width: 400px) {
      body .banner-content {
        background-size: contain;
        background-repeat: no-repeat; } }
    body .banner-content .banner-logo {
      height: 100%;
      background-size: 40%;
      background-repeat: no-repeat;
      background-position-x: 33px;
      background-position-y: 28px; }
      @media (max-width: 400px) {
        body .banner-content .banner-logo {
          height: 150%;
          background-color: #1f1b2d;
          background-repeat: no-repeat;
          background-position-x: 33px;
          background-position-y: 28px; } }
    body .banner-content .banner-row {
      height: 50px; }
    body .banner-content .banner-login {
      padding-top: 20px;
      text-align: right; }
      body .banner-content .banner-login a {
        color: #fff;
        font-size: 18pt;
        font-family: MyriadProRegular;
        font-weight: bold;
        padding-right: 20px; }
    body .banner-content .banner-message {
      color: #fff;
      text-align: center;
      font-size: 18pt;
      font-family: MyriadProRegular; }
    body .banner-content .title-top-promotions {
      font-size: 22pt;
      font-family: MyriadProRegular;
      color: #000;
      padding-left: 35px;
      font-weight: bold;
      padding-top: 15px; }
  body .ant-modal-body .addUser-container .logo-login {
    height: 5%;
    margin-bottom: 10%;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat; }
    @media (max-width: 400px) {
      body .ant-modal-body .addUser-container .logo-login {
        height: 25%; } }
    body .ant-modal-body .addUser-container .logo-login .logo-img {
      width: 30%;
      padding-top: 15%; }
      @media (max-width: 400px) {
        body .ant-modal-body .addUser-container .logo-login .logo-img {
          width: 80%;
          padding-top: 30%; } }
    body .ant-modal-body .addUser-container .logo-login .title {
      color: #57abde;
      font-size: 26pt;
      font-family: MyriadProRegular; }
  body .ant-modal-body .addUser-container .form-content .input-form-login {
    font-size: 14pt;
    font-family: MyriadProRegular;
    background-color: #ededed;
    box-shadow: 0px 6px 1px 1px #ccc;
    height: 44px;
    color: #000;
    border: 1px solid #ededed; }
  body .ant-modal-body .addUser-container .form-content .login-form-button {
    font-size: 26pt;
    font-family: MyriadProRegular;
    background-color: #57abde;
    height: 60px;
    border-radius: 25px;
    color: #fff;
    width: 50%; }
  body .ant-modal-body .addUser-container .form-content .ant-form-explain {
    padding-top: 8px; }
  body .donaciones-content {
    margin-top: 0px; }
    body .donaciones-content .title {
      text-align: left;
      margin-left: 0px; }
    body .donaciones-content .vertical-divider {
      border-bottom: 3px solid #068BCA;
      margin-left: 0px;
      height: 1px;
      margin-bottom: 2%;
      width: 40%; }
    body .donaciones-content .presentation-mode {
      padding-top: 10px; }
      body .donaciones-content .presentation-mode .conten-slide {
        background-color: #364d79; }
        body .donaciones-content .presentation-mode .conten-slide .my-slide-content {
          background-size: contain;
          background-repeat: no-repeat;
          height: 600px;
          width: 100%;
          overflow: hidden; }
          body .donaciones-content .presentation-mode .conten-slide .my-slide-content .margen-slogan {
            padding-bottom: 10%; }
          body .donaciones-content .presentation-mode .conten-slide .my-slide-content .slogan-content {
            width: 100%;
            background-color: rgba(187, 186, 186, 0.7);
            text-align: left;
            padding-left: 5%; }
            body .donaciones-content .presentation-mode .conten-slide .my-slide-content .slogan-content .slogan .purchased {
              font-size: 22pt;
              font-family: QuicksandR;
              background-size: contain;
              background-repeat: no-repeat;
              padding-left: 15px;
              font-weight: bold; }
            body .donaciones-content .presentation-mode .conten-slide .my-slide-content .slogan-content .slogan .valor {
              font-size: 36pt;
              font-family: MyriadProRegular;
              color: #fff;
              opacity: 1; }
            body .donaciones-content .presentation-mode .conten-slide .my-slide-content .slogan-content .slogan .deal {
              font-size: 22pt;
              font-family: MyriadProRegular;
              color: #fff;
              background-size: contain;
              background-repeat: no-repeat;
              padding-left: 15px; }
  body .information-container {
    margin-top: 15%; }
    body .information-container .information-icon {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      height: 75px; }
    body .information-container .information-title {
      font-size: 24pt;
      font-family: MyriadProRegular;
      line-height: 1;
      color: #414142; }
    body .information-container .information-description {
      font-size: 11pt;
      font-family: MyriadProRegular;
      color: gray;
      text-align: justify;
      margin-right: 8%;
      margin-left: 8%;
      margin-bottom: 10%;
      width: 60%;
      float: right; }
    body .information-container .divider-information {
      width: 2px;
      background-color: #d2cece;
      top: 1em;
      height: 100%; }
  body .border-bottom-information {
    height: 15px;
    background-image: linear-gradient(to right, #f4981f, #ffd634); }
  body .menu-categories {
    background-color: #f5f5f4; }
    body .menu-categories .list-categories {
      border-bottom: 7px solid #d2cece;
      margin-bottom: 2%;
      background-color: #f5f5f4; }
      body .menu-categories .list-categories .category-item {
        border-right: 2px solid #d2cece;
        background-color: #f5f5f4;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        font-size: 11pt;
        font-family: MyriadProRegular;
        font-weight: bold;
        color: #000;
        line-height: 1; }
        body .menu-categories .list-categories .category-item .cont-icon {
          display: flex;
          justify-content: left;
          align-items: center; }
          body .menu-categories .list-categories .category-item .cont-icon .icon {
            background-size: contain;
            background-repeat: no-repeat;
            float: left;
            height: 40px;
            width: 40px;
            background-size: 50% 50%;
            line-height: 100%;
            padding-right: 10%; }
  body .promotions-container {
    height: 600px;
    margin-bottom: 3%; }
    body .promotions-container .list-promotions {
      margin-top: 2%;
      min-height: 600px; }
      body .promotions-container .list-promotions .title-promotions-list {
        font-size: 30pt;
        font-family: MyriadProRegular;
        text-align: center;
        width: 100%;
        height: 100%;
        cursor: pointer; }
      body .promotions-container .list-promotions .promotions-items-pagination {
        text-align: center; }
      body .promotions-container .list-promotions .promotion-item {
        background-size: contain;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        min-height: 300px;
        height: 600px;
        color: #fff;
        margin-bottom: 2%; }
        body .promotions-container .list-promotions .promotion-item .vertical-space {
          margin: 15%; }
        body .promotions-container .list-promotions .promotion-item .subcontent {
          width: 50%;
          background-color: rgba(107, 101, 101, 0.3);
          text-align: left; }
          body .promotions-container .list-promotions .promotion-item .subcontent .slogan {
            margin-left: 5%; }
            body .promotions-container .list-promotions .promotion-item .subcontent .slogan .purchased {
              padding-left: 5%;
              background-image: linear-gradient(#827e7a99, #b7acb63d);
              font-size: 14pt;
              font-family: MyriadProRegular; }
            body .promotions-container .list-promotions .promotion-item .subcontent .slogan .valor {
              padding-left: 5%;
              font-size: 18pt;
              font-family: MyriadProRegular; }
            body .promotions-container .list-promotions .promotion-item .subcontent .slogan .deal {
              font-size: 14pt;
              font-family: MyriadProRegular;
              padding-left: 5%;
              background-image: linear-gradient(#f4971d, #fed532); }
        body .promotions-container .list-promotions .promotion-item .sell-button {
          position: absolute;
          bottom: 10%;
          text-align: center;
          left: auto;
          right: auto;
          width: 90%; }
      body .promotions-container .list-promotions .description-item {
        padding-left: 15px;
        font-size: 12pt;
        font-family: MyriadProRegular;
        text-align: justify; }
    body .promotions-container .border-bottom-promotions {
      height: 15px;
      background-image: linear-gradient(#f4971d, #fed532);
      margin-top: 15px;
      margin-bottom: 15px; }
  body .buypromotion-content {
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position-x: center;
    padding-top: 21%; }
    body .buypromotion-content h3 {
      font-size: 19pt;
      font-family: MyriadProRegular; }
    body .buypromotion-content .button-buypromotion {
      color: #fff;
      background-color: #729fcb;
      font-size: 19pt;
      font-family: MyriadProRegular;
      background-color: #729fcb;
      height: 48px;
      border-radius: 30px;
      width: 35%;
      margin-bottom: 5px; }
  body .promotion-container .header {
    height: 57px;
    width: 100%;
    background-color: #058bca; }
  body .promotion-container .content .ant-tabs-card-bar .ant-tabs-tab {
    background-image: linear-gradient(#1f1b2d, #165a9d);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff; }
  body .promotion-container .content .promotion-map .title-map {
    font-size: 26pt;
    font-family: MyriadProSemiBold;
    color: #fff;
    background-image: linear-gradient(to right, #085a9e, #000);
    margin-bottom: 5%; }
  body .promotion-container .content .promotion-map .img-map {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50%;
    width: 50%;
    margin-top: 5%; }
  body .promotion-container .content .promotion-description .title-body {
    font-size: 14pt;
    font-family: MyriadProRegular;
    text-align: justify;
    padding: 2%; }
  body .promotion-container .content .promotion-description .title-description {
    font-size: 24pt;
    font-family: MyriadProRegular;
    color: #000;
    padding-left: 2%;
    margin-top: 2%; }
    body .promotion-container .content .promotion-description .title-description .interest-blue {
      color: #068BCA; }
    body .promotion-container .content .promotion-description .title-description .interest-bold {
      font-weight: bold; }
  body .promotion-container .content .promotion-images .left-images .marca-images {
    font-size: 36pt;
    font-family: MyriadProRegular;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.2rem;
    padding-top: 3%;
    padding-left: 3%; }
  body .promotion-container .content .promotion-images .left-images .shortd-images {
    font-size: 11pt;
    font-family: MyriadProRegular;
    padding-left: 3%; }
  body .promotion-container .content .promotion-images .left-images .main-image {
    border-right: 2px solid #d2cece;
    padding-top: 2%;
    padding-bottom: 3%; }
    body .promotion-container .content .promotion-images .left-images .main-image img {
      border-radius: 50px;
      height: 600px;
      width: 100%;
      padding: 4%; }
  body .promotion-container .content .promotion-images .list-images .list {
    background-size: contain;
    background-repeat: no-repeat;
    height: 148px;
    margin: 10px;
    margin-top: 20px;
    width: 31%;
    display: inline-block; }
  body .promotion-container .content .promotion-images .description {
    text-align: justify;
    font-size: 16pt;
    font-family: MyriadProRegular; }
  body .promotion-container .content .promotion-images .div-botton-donate {
    text-align: center;
    margin-top: 20%; }
    body .promotion-container .content .promotion-images .div-botton-donate .botton-donate {
      color: #fff;
      background-image: #068bca;
      font-size: 24pt;
      font-family: MyriadProRegular;
      height: 60px;
      padding-top: 15px; }
  body .promotion-container .content .promotion-images .description-image {
    margin-top: 10%; }
    body .promotion-container .content .promotion-images .description-image .detail-deal {
      font-size: 26pt;
      font-family: MyriadProRegular;
      margin-top: 3%;
      text-align: center;
      color: #000; }
      body .promotion-container .content .promotion-images .description-image .detail-deal .donation {
        background-color: #e6e7e9; }
      body .promotion-container .content .promotion-images .description-image .detail-deal .valor {
        font-weight: bold; }
      body .promotion-container .content .promotion-images .description-image .detail-deal .underline {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        font-weight: bold;
        color: #6d6d6d; }
      body .promotion-container .content .promotion-images .description-image .detail-deal .withdiscount {
        color: #068BCA;
        font-weight: bold; }
      body .promotion-container .content .promotion-images .description-image .detail-deal .discount {
        font-size: 26pt;
        font-family: MyriadProSemiBold;
        color: #fff;
        background-image: linear-gradient(to right, #085a9e, #000);
        margin-bottom: 5%; }
      body .promotion-container .content .promotion-images .description-image .detail-deal .countdown {
        font-size: 18pt;
        font-family: MyriadProRegular;
        font-weight: bold;
        height: 50px;
        text-align: left;
        margin-top: 8%;
        line-height: 1; }
        body .promotion-container .content .promotion-images .description-image .detail-deal .countdown .img-countdown {
          background-size: contain;
          background-repeat: no-repeat;
          width: 70px;
          height: 60px;
          float: left;
          margin-left: 3%; }
        body .promotion-container .content .promotion-images .description-image .detail-deal .countdown .time-promotion {
          margin-top: 20px;
          display: flex;
          justify-content: left;
          align-items: center; }
          body .promotion-container .content .promotion-images .description-image .detail-deal .countdown .time-promotion .time {
            font-size: 24pt;
            font-family: MyriadProRegular;
            font-weight: bold;
            margin-left: 10%; }
            body .promotion-container .content .promotion-images .description-image .detail-deal .countdown .time-promotion .time .interval {
              margin-bottom: 2%;
              background-color: #d0cece;
              text-align: center; }
      body .promotion-container .content .promotion-images .description-image .detail-deal .div-botton-donate {
        margin-top: 3%;
        padding-top: 3%;
        border-top: 2px solid #d2cece;
        text-align: center; }
        body .promotion-container .content .promotion-images .description-image .detail-deal .div-botton-donate .botton-donate {
          font-size: 24pt;
          font-family: OpenSansSemiBold;
          color: #fff;
          background-color: #068bca; }
      body .promotion-container .content .promotion-images .description-image .detail-deal .quantity {
        margin-top: 10%;
        background-color: #e6e7e9; }
  body .allies-carrousel {
    width: "25%";
    text-align: "center";
    background-color: #f5f5f4;
    margin-bottom: 3%;
    border-radius: 5em; }
  body .allies-container {
    background-color: #f5f5f4;
    color: #000; }
    body .allies-container .title {
      text-align: center;
      font-size: 32pt;
      font-family: MyriadProRegular; }
    body .allies-container .description {
      margin-top: 25px;
      text-align: justify;
      font-size: 18pt;
      font-family: MyriadProRegular; }
  body .footer-container {
    height: 224px;
    background-color: #282828; }
    body .footer-container .footer-seccion {
      margin-top: 4%; }
    body .footer-container .footer-list-title {
      padding-left: 3%; }
      body .footer-container .footer-list-title .title {
        color: #fff;
        font-size: 10pt;
        font-family: MyriadProRegular;
        text-align: left; }
    body .footer-container .footer-list {
      padding-left: 3%;
      color: #fff;
      font-size: 9pt;
      font-family: MyriadProRegular;
      text-align: left; }
    body .footer-container .logo-left {
      text-align: center; }
      body .footer-container .logo-left .logo {
        margin-top: 10%;
        margin-right: 10%; }
  body .menu-container {
    background-color: #ddf2f5; }
    body .menu-container .ant-menu-item {
      font-size: 15pt;
      font-family: QuicksandR;
      vertical-align: middle;
      color: #000;
      font-weight: bold;
      padding-left: 5px;
      padding-right: 5px; }
      body .menu-container .ant-menu-item a {
        text-decoration: none;
        color: #000; }
    body .menu-container .left-divider {
      border-left: 1px solid red;
      padding-left: 8px;
      height: 0.9em; }
  body .confirmation-content {
    margin-top: 25px;
    text-align: center;
    font-size: 16pt;
    font-family: MyriadProRegular; }
    body .confirmation-content .title {
      font-size: 24pt;
      font-family: MyriadProRegular; }
    body .confirmation-content .confirm-label {
      font-weight: bold;
      border: 1px solid gray;
      background-color: #44bccc; }
    body .confirmation-content .confirm-value {
      background-color: #d1d5d6;
      border: 1px solid gray; }
    body .confirmation-content .botton-donate {
      color: #fff;
      background-image: linear-gradient(#1f1b2d, #165a9d);
      font-size: 24pt;
      font-family: MyriadProRegular;
      height: 60px;
      padding-top: 15px;
      border-radius: 50px;
      width: 150px; }
  body .title-promotions {
    font-size: 30pt;
    font-family: MyriadProRegular;
    background-color: #068BCA;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer; }
    body .title-promotions .cond {
      font-size: 30pt;
      font-family: MyriadProBoldCond; }
  body .title-Interests {
    font-size: 32pt;
    font-family: MyriadProRegular;
    color: #000;
    background-color: #f5f5f4; }
    body .title-Interests .interest-blue {
      font-size: 32pt;
      font-family: MyriadProRegular;
      color: #068BCA;
      background-color: #f5f5f4; }
    body .title-Interests .interest-bold {
      font-weight: bold; }
  body .grid-promotions {
    padding-top: 2%;
    padding-right: 1.2%;
    padding-left: 1.2%;
    padding-bottom: 2%;
    background-color: #f5f5f4; }
    body .grid-promotions .card-Promotion {
      cursor: pointer;
      background-color: #fff;
      margin-bottom: 2%;
      border-radius: 25px;
      height: 400px;
      width: 300px; }
      body .grid-promotions .card-Promotion .card-photo {
        background-size: 300px 200px;
        height: 50%;
        border-radius: 25px; }
      body .grid-promotions .card-Promotion .card-text {
        padding: 3%; }
        body .grid-promotions .card-Promotion .card-text .card-title {
          font-size: 16pt;
          font-family: MyriadProRegular;
          font-weight: bold;
          text-align: left;
          color: #000;
          margin-bottom: 4%;
          margin-top: 2%; }
        body .grid-promotions .card-Promotion .card-text .card-discount {
          font-size: 14pt;
          font-family: MyriadProRegular;
          font-weight: bold;
          text-align: center;
          background-color: #068bca;
          color: #fff;
          margin-bottom: 4%;
          margin-top: 2%; }
        body .grid-promotions .card-Promotion .card-text .card-description {
          font-size: 9pt;
          font-family: MyriadProRegular;
          text-align: justify; }
        body .grid-promotions .card-Promotion .card-text .card-deal {
          font-size: 11pt;
          font-family: MyriadProRegular;
          margin-top: 3%;
          text-align: center;
          color: #000; }
          body .grid-promotions .card-Promotion .card-text .card-deal .valor {
            font-weight: bold; }
          body .grid-promotions .card-Promotion .card-text .card-deal .underline {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            font-weight: bold;
            color: #6d6d6d; }
          body .grid-promotions .card-Promotion .card-text .card-deal .withdiscount {
            color: #068BCA;
            font-weight: bold; }
  body .search {
    margin-top: 5%; }
  body .cities {
    margin-top: 5%; }
  body .ant-carousel .slick-slide {
    text-align: center;
    line-height: 600px;
    overflow: hidden; }

