@import '../node_modules/compass-mixins/lib/compass';

@font-face {
    font-family: "QuicksandR";
    src: url('./fonts/Quicksand/Quicksand-Regular.otf');
}

@font-face {
    font-family: "MyriadProRegular";
    src: url('./fonts/myriadpro/MyriadProRegular.ttf');
}

@font-face {
    font-family: "MyriadProBoldCond";
    src: url('./fonts/myriadpro/MyriadPro-BoldCond.otf');
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url('./fonts/myriadpro/MyriadPro-SemiBold.otf');
}

@font-face {
    font-family: "OpenSansSemiBold";
    src: url('./fonts/openSans/OpenSans-Semibold.ttf');
}

@mixin QuickSandRegular($size) {
    font-size: $size;
    font-family: QuicksandR;
}

@mixin MyriadRegular($size) {
    font-size: $size;
    font-family: MyriadProRegular;
}

@mixin MyriadBold($size) {
    font-size: $size;
    font-family: MyriadProRegular;
    font-weight: bold;
}

@mixin MyriadSemiBold($size) {
    font-size: $size;
    font-family: MyriadProSemiBold;
}

@mixin MyriadBoldCond($size) {
    font-size: $size;
    font-family: MyriadProBoldCond;
}

@mixin OpenSansSemiBold($size) {
    font-size: $size;
    font-family: OpenSansSemiBold;
}

@mixin backgroundImage() {
    background-size: contain;
    background-repeat: no-repeat;
}


$width-page: auto;
$height-footer-page:200px;
$height-content-page : 800px;
$min-page-md:676px;
$min-page-width-md: max-width 767px;

$blue:#068BCA;