@import '../node_modules/compass-mixins/lib/compass';

@font-face {
    font-family: "RenaultLifeRegular";
    src: url('./fonts/RenaultLife-Regular.ttf');
}

@font-face {
    font-family: "RenaultLifeBold";
    src: url('./fonts/RenaultLife-Bold.ttf');
}

@font-face {
    font-family: "RenaultLifeBoldItalic";
    src: url('./fonts/RenaultLife-BoldItalic.ttf');
}

@mixin RenaultLifeRegular($size) {
    font-size: $size;
    font-family: RenaultLifeRegular;
    font-display: swap;
}

@mixin RenaultLifeBold($size) {
    font-size: $size;
    font-family: RenaultLifeBold;
    font-display: swap;
}

$width-page: auto;
$height-footer-page:200px;
$height-content-page : 800px;
$min-page-md:676px;
$min-page-width-md: max-width 767px;