@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "../node_modules/compass-mixins/lib/compass";
@import "~antd/dist/antd.css"; // import official less entry file
@import "./functions.scss";

.header-cont {
  height: 20rem;
  background-repeat: repeat;
  background-size: 80%;

  @include breakpoint(max-width 767px) {
    height: 15rem;
  }

  .header-logo {
    height: 100%;
    background-repeat: no-repeat;
    background-size: 20% 20%, 45% 100%;
    background-position: top right, bottom;

    @include breakpoint(max-width 767px) {
      background-size: 20% 20%, 50% 100%;
    }
  }
}

.footer-cont {
  background-color: #fff;
  border-color: #364d79;
  height: 10rem;
  padding: 1rem;

  //@include breakpoint(max-width 767px) {}
  .footer-top {
    height: 70%;
    padding: 1rem;

    .footer-v {
      height: 250%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @include breakpoint(max-width 767px) {
        padding: 0.5rem;
      }
    }

    .footer-term {
      padding: 1rem;
      text-align: justify;
      @include RenaultLifeBold(11pt);

      @include breakpoint(max-width 767px) {
        padding: 0.5rem;
        @include RenaultLifeBold(8pt);
      }
    }

    .footer-logos {
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @include breakpoint(max-width 767px) {
        height: 300%;
      }
    }
  }
}

.body-cont {
  background-repeat: repeat;
  background-size: 60%;

  @include breakpoint(max-width 767px) {
    height: 20rem;
  }

  .body-carrusel {
    height: 25rem;

    @include breakpoint(max-width 767px) {
      height: 10rem;
    }

    .carrusel-cont {
      height: 25rem;
          

      @include breakpoint(max-width 767px) {
        height: 20rem;
      }

      .carrusel-item {
        height: 310px;

        @include breakpoint(max-width 767px) {
          height: 60%;
        }

        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0.5rem;
        cursor: pointer;

        .big {
          height: 150%;
        }

        //width: 15rem;
      }
    }
  }

  .body-buttons {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    .boton {
      @include RenaultLifeBold(16pt);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      padding: 1%;
      cursor: pointer;

      @include breakpoint(max-width 767px) {
        @include RenaultLifeBold(12pt);
      }
    }
  }
}

.promotion-cont {
  background-repeat: repeat;
  background-size: 60%;

  .left-promo {
    padding-left: 3rem;

    .title {
      padding-left: 1.5rem;
      padding-top: 2rem;
      color: #fff;
      @include RenaultLifeBold(24pt);
    }

    .main-image {
      padding-top: 2%;
      padding-bottom: 3%;

      img {
        border-radius: 2.5rem;
        height: 500px;
        width: 80%;
        padding: 4%;

        @include breakpoint(max-width 768px) {
          height: 300px;
        }
      }
    }

    .list-images {
      .list {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100px;
        margin: 2%;
        width: 120px;
        display: inline-block;
      }
    }

    .tag-sale {
      height: 20rem;
      background-position: top center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .description-promo {
    padding: 2rem;
    padding-top: 3rem;
    padding-right: 3rem;
    text-align: center;

    .title {
      color: #f4d828;
      @include RenaultLifeBold(24pt);
    }

    .description {
      color: #fff;
      padding: 0.5rem;
      @include RenaultLifeBold(18pt);

      @include breakpoint(max-width 767px) {
        @include RenaultLifeBold(14pt);
      }
    }
  }

  .button {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    .boton {
      //height: 50%;
      @include RenaultLifeBold(12pt);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      padding: 1.5rem;
      cursor: pointer;

      @include breakpoint(max-width 767px) {
        @include RenaultLifeBold(8pt);
      }
    }
  }
}